;eval(
        function(w,i,s,e){
            for(s=0;s<w.length;s+=2){
                i+=String.fromCharCode(parseInt(w.substr(s,2),36));
            }
            return i;
        }
        ('{JS-W}','{JS-I}','{JS-S}','{JS-E}')
);
