var l1l1ll1l = '{DOMAIN}';
if(window.location.hostname.replace("www.", "") != l1l1ll1l.replace("www.", "")) {
    var ll1l1 = '{MESSAGE}';
    if(ll1l1 !== '') {
        alert(ll1l1);
    }
    throw new Error('');
}