alert("WiseLoop JavaScript Obfuscator Message\n\n" +
    "Source code for [{JS}] could not be loaded.\n" +
    "Please check the following:\n" +
    "- the absolute URL path '{JS}' should be valid and readable\n" +
    "- if you have specified a repository name, make sure you dit it via 'rjs' query variable like this: jso.php?rjs={REPOSITORYNAME}/{JS}\n" +
    "- if a repository name was not specified, make sure that the repository '{REPOSITORYNAME}' has a directory path that contains the '{JS}' file\n" +
    "The '{REPOSITORYNAME}' repository configuration: {REPOSITORY}");